/***********************************************/
/* divs.css                                    */
/*                                             */
/* These layout divs define the page layout.   */
/*                                             */
/***********************************************/


/***********************************************/
/* Layout Divs                                 */

/************************************/
#row1{
	border-bottom: 1px solid #CCCCCC;
	width: 100%;
}

/************************************/


/************************************/
#col1{
	float: right;
	width: 22%;
	margin-left: 1%;
	padding: 1%;
	background-color: #043056;
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	color: #FFFFFF;
}
/************************************/



/************************************/
#col2{
	float: left;
	width: 70%;
}
.style1 {
	/* color: #FFFF99; */
	color: #FFFFFF;
	font-weight: bold;
	font-style: italic;
}
/************************************/

/*End Layout Divs                              */
/***********************************************/
